.clearfix::after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
}

@media screen and (max-width: 1170px) {
	body {
		font-family: Montserrat;
	}
}

img {
	width: 100%;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
}

	
		

