@mixin top-font {
	color: #b4b4b4;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
}

@mixin header-font-small {
	color: #b4b4b4;
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
}

@mixin for_anim-bg {
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	padding-top: 26px;
	padding-bottom: 68px;
}

@mixin for_anim-p_header {
	animation-name: anim-p;
	animation-duration: 18s;
	animation-delay: 10s;
}

@mixin sort-blog-font {
	color: #000;
	font-size: 16px;
	line-height: 27px;
	font-variant: small-caps;
}

@mixin p1-font {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	font-variant: small-caps;
}

@mixin txt-align {
	display: block;
	text-align: left;
	padding-left: (18px/1170px)*100%;
	padding-right: (18px/1170px)*100%;
}

@mixin autor-font {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
}

@mixin date-font {
	color: #212121;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
}

@mixin tit_items-2_font {
	color: #000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

@mixin txt_items-2_font {
	color: #000;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

@mixin tit_items-3_font {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

@mixin main-right-font {
	color: #000;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 40px;
}

@mixin right-date-font {
	color: #212121;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

@mixin right-post-font {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
}



