.main__left__item-2	{
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
	.main__left__item-2 .item__img-box {
		float: left;
		width: $pic-width;
	}

		.main__left__item-2 .icon-play-circle-outline {
			position: absolute;
			top: 39%;
			left: 41%;
		}

	.item-2__txt {
		float: right;
		width: $txt-width;
	}

		.item-2__txt .title {
			@include txt-align;
			@include tit_items-2_font;
			margin-top: 10px;
		}

		.item-2__txt .title + a {
			@include txt-align;
			@include txt_items-2_font;
			padding-bottom: 10px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		}

@media screen and (max-width: 530px) {
	.main__left__item-2 .item__img-box,
	.item-2__txt {
		float: none;
		width: 100%;
	}
}