.main__left__item-1	{
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
	.main__left__item-1 .icon-play-circle-outline {
		position: absolute;
		top: 44%;
		left: 47%;
		z-index: 5;
	}
		
		.main__left__item-1 .title {
			@include txt-align;
			margin-top: 16px;
			padding-bottom: 16px;
			color: #000;
			font-size: 18px;
			font-weight: 700;
			line-height: 29px;
		}

		.main__left__item-1 .title + a {
			@include txt-align;
			padding-bottom: 16px;
			color: #000;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		}

